@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,700italic,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #2F302C;
}

.container {
  margin: 0 auto;
  max-width: 1340px;
  height: 100%;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

body.lock {
  overflow: hidden;
}

.header {
  padding: calc(25px + 1.8656716418vw) 0;
  background: #2F302C;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 2.5rem;
  position: relative;
}
.header__logo img {
  width: 100%;
  min-width: 150px;
  cursor: pointer;
}
.header__block {
  display: flex;
  max-width: 11rem;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.header__block .header__block_ico svg path {
  transition: 0.3s;
}
.header__block_like {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.header__block_like:hover .header__block_ico svg path {
  stroke: #3EAC94;
}
.header__block_like:hover .header__block_text {
  color: #3EAC94;
}
.header__block_text {
  font-weight: 700;
  line-height: 125%;
  transition: 0.3s;
  font-size: calc(6.5px + 0.4850746269vw);
}

.navigation {
  width: 100%;
  max-width: 25rem;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.navigation__link {
  font-size: calc(6.5px + 0.4850746269vw);
  font-weight: 700;
  line-height: 125%;
  position: relative;
  white-space: nowrap;
}
.navigation__link::before {
  content: "";
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  height: 1.8px;
  background-color: #fff;
  transform-origin: right;
  transition: transform 0.3s;
  transform: scaleX(0);
}
.navigation__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navigation__link.spoiler::before {
  width: 0;
  height: 0;
}

.spoiler {
  position: relative;
}
.spoiler:hover ._icon-arrow-down {
  display: inline-block;
  transition: 0.3s;
  transform: rotate(-90deg);
}
.spoiler > a::before {
  height: 0;
}
.spoiler__list {
  position: absolute;
  display: grid;
  max-height: 0;
  overflow: hidden;
  transition: 0.9s;
  gap: 10px;
  top: 100%;
  left: -10px;
  transition: 0.3s;
  background-color: #37372c;
  border-radius: 4px;
  width: 100%;
  min-width: 180px;
}
.spoiler__list li:not(:first-child) {
  border-top: 1px solid #D4D4D4;
  width: 100%;
}
.spoiler__link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 125%;
  padding: 10px 20px 0 10px;
  width: 100%;
  transition: 0.3s;
}
.spoiler__link:hover {
  color: #3EAC94;
}
.spoiler__link.last {
  padding-bottom: 10px;
}

.spoiler:hover .spoiler__list {
  max-height: 500px;
}

.search input:focus ~ label {
  top: 1px;
  font-size: calc(6px + 0.5223880597vw);
}

.search input:valid ~ label {
  top: 1px;
  font-size: calc(6px + 0.5223880597vw);
}

.search {
  display: flex;
  padding: calc(5px + 0.3731343284vw) 0;
  gap: 0.75rem;
  border-bottom: 1px solid #D4D4D4;
  position: relative;
  width: 100%;
  max-width: 24rem;
  min-width: 12rem;
}
.search__input {
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  line-height: 125%;
  font-size: 1.3rem;
  color: #fff;
  position: relative;
  z-index: 1;
}
.search__label {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(7px + 0.5970149254vw);
  font-weight: 500;
  transition: 0.3s ease;
}

.search.adaptive {
  display: none;
}

@media (max-width: 927px) {
  .header {
    padding: 27px 0;
  }
  .header__burger {
    display: block;
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 22.6px;
    position: relative;
    z-index: 1001;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F6F6F6;
    transition: 0.3s;
    border-radius: 5px;
  }
  .header__burger::after {
    top: 0px;
    right: 0;
    width: 50%;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F6F6F6;
    left: 0;
    top: 9.4px;
    transition: 0.3s;
    border-radius: 5px;
  }
  .header__burger::before {
    bottom: 0px;
    left: 0;
    width: 50%;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    top: 10.5px;
    width: 100%;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    bottom: 10.5px;
    width: 100%;
  }
  .header__burger.active span {
    opacity: 0;
  }
  .header__row {
    justify-content: center;
    gap: 1.24rem;
  }
  .header__logo {
    margin-right: auto;
    position: relative;
    z-index: 1001;
  }
  .header__logo img {
    min-width: 150px;
  }
  .header__block {
    max-width: -moz-max-content;
    max-width: max-content;
    justify-content: center;
    gap: 1rem;
  }
  .header__block_like {
    gap: 0.45rem;
  }
  .header__block_text {
    font-size: calc(8px + 0.5970149254vw);
  }
  .navigation {
    width: 100vw;
    max-width: 100vw;
    position: absolute;
    background-color: rgba(47, 48, 44, 0.8078431373);
    height: 100vh;
    transform: rotate(20deg);
    transition: 0.7s ease;
    z-index: 1000;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    top: -3300%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .navigation__list {
    flex-direction: column;
    justify-content: start;
    padding: 60px 0;
    gap: 1rem;
  }
  .navigation__link {
    font-size: 30px;
    text-align: center;
  }
  .spoiler {
    padding-bottom: 0px;
    text-align: center;
  }
  .spoiler .iconca {
    font-size: 2rem !important;
  }
  .spoiler__list {
    position: static;
    transition: 0.3s;
    background-color: rgba(65, 65, 48, 0.7450980392);
    min-width: 250px;
  }
  .spoiler__link {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 20px 0 20px;
  }
  .spoiler__link.last {
    padding-bottom: 20px;
  }
  .header.active .navigation {
    top: 0%;
    transform: rotate(0deg);
  }
  .search input:focus ~ label {
    font-size: calc(7px + 0.5970149254vw);
  }
  .search input:valid ~ label {
    font-size: calc(7px + 0.5970149254vw);
  }
  .search {
    padding: calc(4px + 0.3731343284vw) 0;
    max-width: 18rem;
  }
  .search__input {
    font-size: 1.3rem;
  }
  .search__label {
    font-size: calc(9px + 0.671641791vw);
  }
}
@media (max-width: 620px) {
  .search {
    display: none;
  }
  .search input:focus ~ label {
    font-size: 0.7rem;
  }
  .search input:valid ~ label {
    font-size: 0.7rem;
  }
  .search.adaptive {
    display: flex;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    justify-content: center;
  }
  .search.adaptive .search__label {
    font-size: 0.9rem;
  }
  .search.adaptive .search__input {
    font-size: 1.1rem;
  }
  .header {
    padding: 15px 0;
  }
  .header__burger {
    flex: 0 0 25px;
    width: 25px;
    height: 20px;
  }
  .header__burger::after, .header__burger::before {
    height: 1.3px;
  }
  .header__burger span {
    height: 1.3px;
    top: 8.7px;
  }
  .header__burger.active::after {
    top: 8.8px;
  }
  .header__burger.active::before {
    bottom: 8.8px;
  }
  .header__row {
    gap: 1rem;
  }
  .header__logo img {
    min-width: 80px;
    max-width: 120px;
  }
  .header__block {
    gap: 0.7rem;
  }
  .header__block_like {
    gap: 0.45rem;
  }
  .header__block_text {
    font-size: 12px;
  }
  .navigation {
    padding-bottom: 80px;
  }
  .navigation__list {
    padding: 60px 0 10px 0;
    gap: 0.5rem;
  }
  .navigation__link {
    font-size: 25px;
  }
  .spoiler .iconca {
    font-size: 1.5rem !important;
  }
  .spoiler__link {
    font-size: 1.2rem;
    padding: 5px 5px 0 5px;
  }
  .spoiler__link.last {
    padding-bottom: 5px;
  }
}
.welcome {
  background-image: url(../img/welcome-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  padding: 7.5rem 0 7.2rem 0;
}
.welcome__body {
  max-width: 42rem;
  margin-left: auto;
}
.welcome__box {
  display: flex;
  flex-direction: column;
}
.welcome__sabtitle {
  color: #2F302C;
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 1.25rem;
}
.welcome__title {
  color: #2F302C;
  font-family: "Montserrat", sans-serif;
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 104%;
  margin-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.welcome__title span {
  font-weight: 800;
}
.welcome__text {
  color: #7E7F7C;
  font-size: 1.24rem;
  font-weight: 500;
  line-height: 125%;
  max-width: 29rem;
}

.title-line {
  max-width: 19.25rem;
  width: 100%;
  background: #2F302C;
  height: 0.0625rem;
}

@media (max-width: 836px) {
  .welcome {
    background-position: left;
    padding: 3.5rem 0 9rem 0;
    position: relative;
  }
  .welcome::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .welcome__body {
    max-width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .welcome__sabtitle {
    font-size: calc(13px + 0.8955223881vw);
    margin-bottom: 1rem;
    color: #291717;
  }
  .welcome__title {
    font-size: calc(42px + 2.9850746269vw);
    margin-bottom: 1.6rem;
    gap: 0.6rem;
  }
  .welcome__text {
    color: #fff;
    font-size: calc(12.5px + 0.9701492537vw);
    margin: 0 auto;
  }
  .title-line {
    margin: 0 auto;
  }
}
.started {
  padding: 4rem 0 5.13rem 0;
  width: 100%;
}
.started__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.started__box {
  display: flex;
  flex-direction: column;
  min-height: 36rem;
  flex: 0 0 25%;
  justify-content: space-between;
  padding: 3rem 2.25rem 0 3rem;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.started__box:hover .started__img img {
  transform: scale(1.01);
}
.started__box.reverse {
  flex-direction: column-reverse;
  padding: 0 2.25rem 3rem 2.25rem;
}
.started__box.big {
  flex: 0 0 45%;
  width: 100%;
  padding: 3rem 2.5rem;
  background: #E6EFEA;
}
.started__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.started__content.center {
  text-align: center;
}
.started__content.center .started__link {
  justify-content: center;
}
.started__title {
  color: #2F302C;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 140%;
}
.started__text {
  color: #7E7F7C;
  font-size: calc(8px + 0.5970149254vw);
  font-weight: 500;
  line-height: 125%;
}
.started__link {
  color: #7E7F7C;
  font-size: calc(8px + 0.5970149254vw);
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 125%;
}
.started__link span {
  font-size: calc(4px + 0.2985074627vw);
  padding-left: 4px;
  padding-top: 3px;
  transition: 0.3s;
}
.started__link:hover span {
  padding-left: 10px;
}
.started__img {
  width: 100%;
  white-space: nowrap;
}
.started__img.right {
  text-align: right;
}
.started__img img {
  max-width: 100%;
  transition: 0.3s;
}

@media (max-width: 540px) {
  .wrapper .started__body {
    row-gap: 15px;
  }
  .wrapper .started__box {
    flex: 0 0 100%;
    width: 100%;
  }
  .wrapper .started__box.big {
    order: inherit;
  }
  .wrapper .started__box.big .started__img {
    text-align: center;
  }
  .wrapper .started__text {
    font-size: calc(11px + 0.8208955224vw);
  }
  .wrapper .started__link {
    font-size: calc(13px + 0.7462686567vw);
  }
  .wrapper .started__link span {
    font-size: calc(7px + 0.5970149254vw);
  }
  .wrapper .started__img {
    max-height: 130px;
  }
  .wrapper .started__img img {
    height: 100%;
  }
}
@media (max-width: 946px) {
  .started {
    padding: 4rem 0 4rem 0;
  }
  .started__body {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .started__box {
    min-height: 100%;
    flex: 0 0 48%;
    background-color: #eeeded;
    padding: 2rem 1.25rem 0 2rem;
    border-radius: 5px;
  }
  .started__box.reverse {
    padding: 0 1.25rem 2rem 1.25rem;
  }
  .started__box.big {
    flex: 0 0 100%;
    width: 100%;
    max-width: 550px;
    padding: 2rem 1.5rem;
    background: #deece4;
    order: 3;
  }
  .started__content {
    gap: 1rem;
  }
  .started__title {
    font-size: 1.25rem;
  }
  .started__text {
    font-size: calc(10px + 0.5970149254vw);
  }
  .started__link {
    font-size: calc(12px + 0.5970149254vw);
  }
  .started__link span {
    font-size: calc(6px + 0.447761194vw);
  }
}
.review {
  padding: calc(33px + 2.4626865672vw) 0;
  width: 100%;
}
.review__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: calc(27px + 1.9402985075vw);
}
.review__block {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}
.review__title {
  color: #2F302C;
  font-size: calc(13px + 0.9701492537vw);
  font-weight: 800;
  line-height: 125%;
}
.review__text {
  color: #7E7F7C;
  font-size: calc(6.8px + 0.5223880597vw);
  font-weight: 700;
  line-height: 125%;
}
.review__wrapper {
  min-height: 100%;
}

.slider-box {
  display: flex;
  flex-direction: column;
}
.slider-box__img {
  margin-bottom: 1rem;
}
.slider-box__list {
  margin-bottom: 2.25rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.slider-box__link i::before {
  font-size: 1.2rem;
  color: #2F302C;
}
.slider-box__text {
  color: #2F302C;
  font-size: calc(8px + 0.5970149254vw);
  font-weight: 700;
  line-height: 140%;
  max-width: 48rem;
  margin: 0 auto;
}
.slider-box__name {
  margin-top: 3rem;
  color: #7E7F7C;
  font-size: calc(9px + 0.5970149254vw);
  font-weight: 500;
  line-height: 1.25rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: static;
  margin-top: calc(30px + 2.2388059701vw);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 1.45rem;
  height: 0.3rem;
  border-radius: 3%;
  background: #D4D4D4;
  transition: 0.3s;
  opacity: 1;
  margin: 0 3px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 2.5rem;
  background: #2F302C;
}

@media (max-width: 710px) {
  .review {
    padding: 2rem 0 3rem 0;
  }
  .review__body {
    gap: 38px;
  }
  .review__block {
    gap: 1.2rem;
  }
  .review__title {
    font-size: 23px;
  }
  .review__text {
    font-size: 13px;
  }
  .slider-box__list {
    margin-bottom: 1.5rem;
  }
  .slider-box__text {
    font-size: calc(10px + 0.8208955224vw);
  }
  .slider-box__name {
    margin-top: 2rem;
    font-size: calc(11px + 0.8208955224vw);
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-top: calc(20px + 1.4925373134vw);
  }
}/*# sourceMappingURL=style.css.map */